
body
  padding-top: $mobile-top

  +from($bp-tablet)
    padding-top: $desktop-top

  main
    @extend %container

    // Sticky footer.
    flex: 1

    ul,
    figure,
    section
      padding: 0
      margin: 0
      margin-bottom: $grid-unit

    blockquote
      padding: 0
      margin-left: $grid-unit
      padding-left: $grid-unit
      border-left: $grid-unit/2 solid $color-muted-orange

      p
        opacity: 1

    & > *
      opacity: 0
      animation: $anim-speed-med fade-in $anim-ease-out-expo
      animation-fill-mode: forwards

      @for $i from 1 through 30
        &:nth-child(#{$i})
          animation-delay: 50ms * $i

    section,
    figure
      padding: 0
      margin: 0

    pre
      overflow-x: auto

    p, h1, h2, h3, figure, section, pre, div, img, iframe
      width: 100%

      +from($bp-tablet)
        width: $grid-unit * 28

    table
      margin-bottom: $grid-unit*2

      tr
        border: 1px solid $color-gray

    ul
      list-style-position: inside
