
<h1 class="home-hello">
  <span class="zag">Hi, I am Brian</span>.
</h1>

<h1 class="home-about">
  I am <em>passionate</em> about <strong>writing code</strong> and <strong>leading teams</strong> of developers.
</h1>

<p>
  Currently I spend my days building world-class e-commerce experiences amongst the
  best in the biz at <a href="https://dollarshaveclub.com" class="dsc">Dollar Shave Club</a>.
</p>

<p>
  You can find more about me on the
  <a href="https://twitter.com/brianmgonzalez" class="twitter">Twitters</a> or the <a v-link="{ path: '/github' }" href="/github" class="github">Githubs</a>
  or read some of my <a v-link="{ path: '/posts' }" href="/posts" class="blog">posts</a>.
</p>
