<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Brian Gonzalez | Developer</title>
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png" sizes="192x192" type="image/png">
  </head>

  <body id="body" data-url="/">

    <main role="main" id="main">
        <div id="waves"></div>
      {{{ body }}}
    </main>

    <div class="body-border">
    </div>

    <router-view></router-view>

    <div class="loader"></div>

    <menulink>
    </menulink>

    <menu>
    </menu>

    <a v-link="{ path: '/' }" href='/' class="logo">
      Bg
    </a>

    <div class="decoration-line"></div>

    <footer>
      <section class="main">
        <ul>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/github">Github</a></li>
          <li><a href="https://twitter.com/brianmgonzalez">Twitter</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <div class="image">
        </div>
      </section>
    </footer>

    {{!-- Scripts. --}}
    <script>
      window.updateBodyURL = function () {
        document.getElementsByTagName('body')[0]
                .setAttribute('data-url', window.location.pathname);
      }
      window.updateBodyURL();
    </script>
    <script src="/js/app.js"> </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5991707-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
