<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Brian Gonzalez | Developer</title>
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body id="body" data-url="/">

    <main role="main" id="main">
      <div id="waves"></div>
      {{{ body }}}
    </main>
    
    <div class="body-border">
    </div>

    <router-view></router-view>

    <div class="loader"></div>

    <menulink>
    </menulink>

    <menu>
    </menu>

    <a v-link="{ path: '/' }" href='/' class="logo">
      Bg
    </a>

    <div class="decoration-line"></div>

    <footer>
    </footer>

    {{!-- Scripts. --}}
    <script>
      window.updateBodyURL = function () {
        document.getElementsByTagName('body')[0]
                .setAttribute('data-url', window.location.pathname);
      }
      window.updateBodyURL();
    </script>
    <script src="/js/app.js"> </script>
  </body>
</html>
